#job7 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#job6 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#job5 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#job4 {
  font-family:
}
#job3 {
  font-family: ;
}
#job2 {
  font-family: ;
}
#job1 {
  font-family: ;
}
h2 {
  color: #0018a0;
}
