#job7 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#job6 {
  font-family: ;
}
#job5 {
  font-family: ;
}
#job6 {
  font-family: ;
}
#job6 {
  font-family: ;
}
#job6 {
  font-family: ;
}
#job6 {
  font-family: ;
}
h2 {
  color: #0018a0;
}
