#job7 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 10px solid black;
}
#job6 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 5px dashed gray;
}
#job5 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 15px solid white;
}
#job4 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 7px dotted chocolate;
}
#job3 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-ser;
  border: 10px double pink;
}
#job2 {
  font-family:'Times New Roman', Times, serif;
  border: 13px groove orangered;
}
#job1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
h2 {
  color: #71706e;
}
body {
background-color: bisque;
}
